<%= form_with(model: task ) do |f| %>
    <%= render 'layouts/error_messages', model: f.object %>
    <div>
        <%= f.label :content, 'Task' %>
        <%= f.text_field :content, class: 'form-control' %>
    </div>
    <div>
        <%= f.label :status, '進捗状況' %>
        <%= f.text_field :status, class: 'form-control' %>
    </div>
    
    <%=f.submit '追加' %>
<% end %>
